.card{
  border: solid 1px var(--card-secondary);
  border-radius: 10px;
  background-color: var(--card-primary);
  color: white;
  margin: 20px 10px 20px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../IMG/acetone-2026518-14454-361.png");
}


.productImage {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  border: solid;
  border-color: darkgray;
}