* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  font-size: 40px;
}

.Textblock{
  border-style: solid;
  border-color: red;
  border-width: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}